
/* global */

html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(255, 255, 255);
    color:#000000;
}

a{
    color:#ff0044;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:25px;
    font-weight: bolder;
}



.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#626d7c;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 76% 12% 12%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#acb9c0;
}

.subforum-info{
    text-align: center;

}

.subforum-divider{
    display: block;
    border: 0;
    height: 1px;
    padding: 100px 100px;
    background-image: linear-gradient(to right, rgba(190, 190, 190, 190. 0), rgba(0, 0, 0, 0.75), rgba(100, 99, 99, 0))
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon{
    font-size:45px;
}

.subforum-description *{
    margin-block: 0;
}

/*
@media screen and ((max-width: 460px) or (max-height: 500)){
    .container{
        margin: 10px;
        padding: 10px;
    }
    .subforum-row{
        display: grid;
        grid-template-columns: 50% 40% 10%;
        grid-template-rows: 60% 40%;
    }

    
}
*/
